<div
  class="site-header"
  style="
    width: 350px;
    margin: 0 auto;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    height: 40px;
    padding: 16px;
    background-color:<%= configuration.banner_bg %>;
  "
>
  <div class="site-icon">
    <img src="<%= configuration.icon_url %>" />
  </div>
  <div
    class="site-title"
    style="color:<%= configuration.title_color %>"
  >
    <%= configuration.title %>
  </div>
</div>