<div
  class="widget"
  style="
    margin: 20px auto;
    width: 300px;
    border-radius: 6px;
    background-color: <%= widget.bg_color %>
  "
>
  <% case widget.widget_type
    when 'text' %>
      <%= render partial: 'pages/widgets/widget_text', locals: { widget: widget } %>
    <% when 'video' %>
      <%= render partial: 'pages/widgets/widget_video', locals: { widget: widget } %>
    <% when 'weather' %>
      <%= render partial: 'pages/widgets/widget_weather', locals: { widget: widget } %>
  <% end %>
</div>