<iframe
  title="video"
  width="560"
  height="315"
  src="https://www.youtube.com/embed/<%= widget.video_url.split('?v=')[1] %>"
  frameBorder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  >
</iframe>