<!DOCTYPE html>
<html>
  <head>
    <title><%= @configuration.title %></title>
    <link rel="shortcut icon" id="favicon" href="<%= @configuration.icon_url %>" />
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'pages' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  <head>
  <body
    style="text-align: center; background-color:<%= @configuration.site_bg %>;"
  >
    <%= render partial: 'pages/widgets/widget_header', locals: { configuration: @configuration } %>
    <div class="list-widgets">
      <% @list_widgets.each do |widget| %>
        <%= render partial: 'pages/widgets/widget_router', locals: { widget: widget } %>
      <% end %>
    </div>
  </body>
</html>